:root {
    --dialog-primary-background: rgb(33,33,33);
    --dialog-button-disabled: rgb(90, 90, 90);
}

#lobbycodeDialog {
    min-width: 200px;
    width: 22vw;
}

#lobbycodeDialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lobbycodeDialog input {
    border: 2px solid lightgray;
    border-radius: 2px;
    outline: none;
    width: 130px;
    padding: 5px;
    font-size: larger;
    text-align: center;
    background-color: var(--dialog-primary-background);
}

#lobbycodeDialog input::placeholder {
    font-size: medium;
}

#lobbycodeDialog p {
    margin: 40px 0 7px 0;
    font-size: smaller;
}

#lobbycodeDialog button {
    margin: 70px 0 5px 0;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 7px 66px 7px 66px;
    background-color: var(--dialog-primary-background);
}

#lobbycodeDialog button:disabled {
    border-color: var(--dialog-button-disabled);
    color: var(--dialog-button-disabled);
    cursor: not-allowed;
}
#lobbycodeDialog button:disabled:hover {
    background-color: var(--dialog-primary-background);
}

#lobbycodeDialog button:hover {
    background-color: rgb(40, 40, 40);
}