#lobbycodeDialog {
    min-width: 200px;
    width: 22vw;
}

#lobbycodeDialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lobbycodeDialog input {
    width: 130px;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

#lobbycodeDialog input::placeholder {
    font-size: medium;
}

#lobbycodeDialog p {
    margin: 40px 0 7px 0;
    font-size: smaller;
}

#lobbycodeDialog button {
    margin: 70px 0 5px 0;
    padding: 7px 66px 7px 66px;
}