#tradeBankDialog{
    display: flex;
    flex-direction: column;
    width: 22vw;
    padding: 10px;
    align-items: center;

    .tradeBankDialog__config {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        justify-content: space-evenly;
        padding-bottom: 20px;
        
        .tradeBankDialog__config__column{
            display: flex;
            flex-direction: column;

            & > *{
                width: 100%;
                text-align: center;
            }

            & > span{
                font-size: 2.2vh;
                height: 4vh;
            }
        }

        & > span{
            font-size: 7vh;
            margin-top: 4vh;
            align-content: center;
        }

        .tradeBankDialog__config__button--default{
            background-color: map.get($gameGui, trade, default, backgroundColor);
            border-color: map.get($gameGui, trade, default, borderColor);

            &:disabled{
                background-color: map.get($gameGui, trade, disabled, backgroundColor);
                border-color: map.get($gameGui, trade, disabled, borderColor);
            }
        }

        .tradeBankDialog__config__button--selected{
            background-color: map.get($gameGui, trade, selected, backgroundColor);
            border-color: map.get($gameGui, trade, selected, borderColor);
        }
    }

    & > button{
        width: 50%;
    }
}

.ressourceDisplayLayout{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* center vertically */
    gap: 10px;

    .ressource{
        height: 100px;
        border: 4px solid rgb(var(--bg-panel-solid));
        box-sizing: border-box; /* include border inside the div */
        display: flex;
        justify-content: center; /* horizontal */
        align-items: center;     /* vertical */

        &.wood{
            background-color: map.get($gameGui, ressourceDisplay, wood);
        }
        &.brick{
            background-color: map.get($gameGui, ressourceDisplay, brick);
        }
        &.wheat{
            background-color: map.get($gameGui, ressourceDisplay, wheat);
        }
        &.sheep{
            background-color: map.get($gameGui, ressourceDisplay, sheep);
        }

        img{
            height:100%;
        }

        .resourceTextContainer{
            height: 100%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            min-width: 40px;
        }

        .resourceCountNumber {
            width: 100%;
            height: 100%;
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            align-content: center;
        }

        .resourceGrantedNumber{
            width: 100%;
            font-size: 100%;
            font-weight: bold;
            text-align: center;
            align-content: center;
            border: 2px solid rgba(var(--bg-panel-solid), 0.8);
            border-radius: 10px;
            background-color: rgba(var(--bg-panel-solid), 0.65);
            transition: all 1300ms ease-in-out;

            &.resourceGrantedNumber--active{
                height: 100%;
                opacity: 1;
            }

            &.resourceGrantedNumber--inactive{
                height: 0;
                opacity: 0;
            }
        }
    }

    .bankButton{
        height: 100px;
        border: 5px solid black;
        box-sizing: border-box; /* include border inside the div */
        display: flex;
        justify-content: center; /* horizontal */
        align-items: center;     /* vertical */

        // Additional
        margin-top: 20px;
        pointer-events: all;

        img{
            height:100%;
        }
    }
}