:root {
    --gap_for_rotated_dice: calc((var(--dice_size_boxed) * 1.732 - var(--dice_size_boxed)))
    /*Because when a cube is rotated, it needs more space vertically. (And therefore also horizontally)*/
}

.endTurnButtonDisplay{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   /* center vertically */
    align-items: center;    /* center items horizontally */
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba($color: #000000, $alpha: 0.75);
    overflow: hidden;

    .endTurnButtonDisplay__endTurnButton{
        pointer-events: all;
        font-size:xxx-large;
        box-sizing: border-box; /* include border inside the div */
        font-family: fantasy;
        margin: 0;

        border-width: map.get($gameGui, endTurnButton, borderWidth);
        border-style: map.get($gameGui, endTurnButton, borderStyle);
        border-radius: 0;

        &.endTurnButtonDisplay__endTurnButton--active{
            background-color: map.get($gameGui, endTurnButton, active, backgroundColor);
            border-color: map.get($gameGui, endTurnButton, active, borderColor);
        }

        &.endTurnButtonDisplay__endTurnButton--inactive{
            background-color: map.get($gameGui, endTurnButton, inactive, backgroundColor);
            border-color: map.get($gameGui, endTurnButton, inactive, borderColor);
        }
    }

    .endTurnButtonDisplay__diceContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap_for_rotated_dice);
        width: calc(var(--dice_size_boxed) * 2 + var(--gap_for_rotated_dice) * 2);
        height: calc(var(--dice_size_boxed) + var(--gap_for_rotated_dice));
        pointer-events: none;
    }
}