#dice {
    --side_zOffset: calc(var(--current_dice_size) * 0.5);
    --dot_size: calc(var(--current_dice_size) * 0.175);

    width: var(--current_dice_size);
    height: var(--current_dice_size);
    transform-style: preserve-3d;
    transition: transform 2s ease-in-out;

    .side {
            background-color: map.get($gameGui, dice, default, sideColor);
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(100px);
            -webkit-backdrop-filter: blur(100px);

            .dot {
                display: block;
                position: absolute;
                width: var(--dot_size);
                height: var(--dot_size);
                border-radius: 50%;
                background-color: map.get($gameGui, dice, default, dotColor);
                transform: translate(-50%, -50%);
            }
    }

    .side::before { /* Adds a "white shadow" in the middle of each side */
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(
            circle at 50% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(255, 255, 255, 0.2)
        );
        filter: blur(6px);
    }

  .side-1 {
    transform: translateZ(var(--side_zOffset));

    .dot-1 {
      top: 50%;
      left: 50%;
    }
  }

  .side-2 {
    transform: rotateX(-180deg) translateZ(var(--side_zOffset));

    .dot-1 {
      top: 25%;
      left: 25%;
    }

    .dot-2 {
      top: 75%;
      left: 75%;
    }
  }

  .side-3 {
    transform: rotateY(90deg) translateZ(var(--side_zOffset));

    .dot-1 {
      top: 25%;
      left: 25%;
    }

    .dot-2 {
      top: 75%;
      left: 75%;
    }

    .dot-3 {
      top: 50%;
      left: 50%;
    }
  }

  .side-4 {
    transform: rotateY(-90deg) translateZ(var(--side_zOffset));

    .dot-1 {
      top: 25%;
      left: 25%;
    }

    .dot-2 {
      top: 25%;
      left: 75%;
    }

    .dot-3 {
      top: 75%;
      left: 25%;
    }

    .dot-4 {
      top: 75%;
      left: 75%;
    }
  }

  .side-5 {
    transform: rotateX(90deg) translateZ(var(--side_zOffset));

    .dot-1 {
      top: 25%;
      left: 25%;
    }

    .dot-2 {
      top: 25%;
      left: 75%;
    }

    .dot-3 {
      top: 75%;
      left: 25%;
    }

    .dot-4 {
      top: 75%;
      left: 75%;
    }

    .dot-5 {
      top: 50%;
      left: 50%;
    }
  }

  .side-6 {
    transform: rotateX(-90deg) translateZ(var(--side_zOffset));

    .dot-1 {
      top: 25%;
      left: 25%;
    }

    .dot-2 {
      top: 25%;
      left: 75%;
    }

    .dot-3 {
      top: 75%;
      left: 25%;
    }

    .dot-4 {
      top: 75%;
      left: 75%;
    }

    .dot-5 {
      top: 50%;
      left: 25%;
    }

    .dot-6 {
      top: 50%;
      left: 75%;
    }
  }

  &[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
  }

  &[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
  }

  &[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    }
  }

  &[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    }
  }

  &[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
    }
  }

  &[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);

    &.reRoll {
      transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
  }

    /* ===== Theme overrides ===== */
    &[data-theme="blue"] {
        .side {
            background-color: map.get($gameGui, dice, blue, sideColor);
        }

        .dot {
            background-color: map.get($gameGui, dice, blue, dotColor);
        }
    }

    &[data-theme="red"] {
        .side {
            background-color: map.get($gameGui, dice, red, sideColor);
        }

        .dot {
            background-color: map.get($gameGui, dice, red, dotColor);
        }
    }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: 20px;
  }
}