/* Make html and body take up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

/* Container for the canvas */
#root, .full-page-container {
  height: 100%;
  width: 100%;
}