.lineupDisplay {
    width: 100%;
    display: flex;
    justify-content: center;    //Center horizontally

    .playerPortrait {
        height: 90px;
        background-color: map.get($gameGui, lineupDisplay, backgroundColor);
        border: 3px solid map.get($gameGui, lineupDisplay, borderColor);
        box-sizing: border-box;     //Include border inside the element
        transition: all 0.2s ease;
        position: relative;
        display: inline-block;

        img {
            height: 100%;
            filter: brightness(0.7);
            opacity: 0.7;
            display: block;
        }

        &.highlightPlayer {
            height: 100px;

            img {
                filter: brightness(1);
                opacity: 1;
            }
        }

        .portraitText {
            padding: 0;
            margin: 0;
        }

        .pointsText{
            border: 2px solid rgba($color: #000000, $alpha: 0.8);
            border-radius: 15px;
            background-color: rgba($color: #000000, $alpha: 0.65);
            font-size: medium;
            margin: 0;
            pointer-events: all;
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}