#gearButton {
    position: fixed;
    z-index: 50;
    right: 0;
    margin: 1vw 1vw 0 0;
    width: 4vw;
    height: 4vw;
    min-width: 40px;
    min-height: 40px;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-image: url(/HexfieldsDominion/gear.svg);
}

#gearButton:hover,
#gearButton:focus {
    background-color: transparent;
    box-shadow: none;
    transform: none;
}

#gearDialog {
    min-width: 150px;
    width: 15vw;
}