.dialog {
    border-radius: 25px;
    border: 1px solid rgb(60, 60, 60);
    padding: 10px;
    max-height: 90vh;
    background-color: rgb(35, 35, 35);
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.closeContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.title {
    width: 100%;
    margin: 0;
    text-align: center;
}

.closeButton {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 1px solid gray;
    border-radius: 15px;
    background: rgb(50,50,50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background-color: rgb(70, 70, 70);
}

.childrenContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage {
    color: white;
}

.errorDialog {
    border-color: rgb(168, 0, 0);
    color: rgb(210, 58, 58);
}