.dialog {
    border-style: hidden;
    border-radius: 25px;
    padding: 10px;
    min-width: 30vw;
    min-height: 50vh;
    max-width: 90vw;
    max-height: 90vh;
    background-color: rgb(35, 35, 35);
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.closeContainer {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.closeButton {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(50,50,50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background-color: rgb(70, 70, 70);
}