.gui{
    width: 100%;
    height: 100%;
    pointer-events: none; /* necessary to make the transparent/empty part of all flexboxes unclickable */

    .gui__diceContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        width: 20%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: all;
    }

    .gui__diceHeading{
        position: fixed;
        top: 3%;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .gui__diceFooter{
        position: fixed;
        bottom: 5%;
        width: 100%;
        text-align: center;
        left: 0;
        font-size: medium;
    }

    #gui__winnerDialog {
        
        h1{
            font-size: 6vh;
            border-bottom: 2px solid whitesmoke;
            padding-bottom: 7vh;
        }

        .gui__winnerInfo{
            text-align: center;
            font-size: 4vh;
            font-weight: 500;
            margin-top: 15vh;
            margin-bottom: 10vh;
        }

        .gui__winnerName{
            text-align: center;
            font-size: 4vh;
            font-weight: bold;
            margin-bottom: 15vh;
            color: var(--foreground2);

            padding: 1vh 10px 1vh 10px;
            border: 2px solid rgba(var(--bg-panel-solid), 0.8);
            border-radius: 3vh;
            background-color: rgba(var(--bg-panel-solid), 0.65);
        }

        h2{
            font-size: 3.5vh;
            border-top: 2px solid whitesmoke;
            padding-top: 7vh;
        }

        .gui__backToStartMenu{
            position: fixed;
            right: 1vw;
            top: 50%;
            pointer-events: all;
        }
    }

    .gui__flexboxes > *{
        position: absolute;
    }

    .gui__flexboxes > * > *{
        position: relative;
    }
}