.gui{
    width: 100%;
    height: 100%;
    pointer-events: none; /* necessary to make the transparent/empty part of all flexboxes unclickable */

    .gui__diceContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        width: 20%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: all;
    }

    .gui__heading{
        position: fixed;
        top: 3%;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .gui__footer{
        position: fixed;
        bottom: 5%;
        width: 100%;
        text-align: center;
        left: 0;
        font-size: medium;
    }

    .gui__flexboxes > *{
        position: absolute;
    }

    .gui__flexboxes > * > *{
        position: relative;
    }
}