$gameGui: (
  lineupDisplay: (
    backgroundColor: darkslategray,
    borderColor: black,
    yourTurnColor: crimson
  ),
  ressourceDisplay: (
    wood: darkolivegreen,
    brick: darkred,
    wheat: darkkhaki,
    sheep: ThreeDDarkShadow
  ),
  endTurnButton: (
    borderWidth: 3px,
    borderStyle: solid,
    
    active: (
      backgroundColor: crimson,
      borderColor: red
    ),
    inactive: (
      backgroundColor: rgb(51, 51, 51),
      borderColor: rgb(51, 51, 51)
    )
  ),
  dice: (
    default: (
      sideColor: #f7eee6,
      dotColor: black
    ),
    1: (
      sideColor: rgba(25, 25, 255, 0.95),
      dotColor: #ffffff
    ),
    2: (
      sideColor: rgba(255, 25, 25, 0.95),
      dotColor: #ffffff
    )
  )
)