$gameGui: (
  lineupDisplay: (
    backgroundColor: darkslategray,
    borderColor: rgb(var(--bg-panel-solid)),
    yourTurnColor: crimson
  ),
  ressourceDisplay: (
    wood: darkolivegreen,
    brick: darkred,
    wheat: darkkhaki,
    sheep: rgb(37, 73, 61)
  ),
  endTurnButton: (
    borderWidth: 3px,
    borderStyle: solid,
    
    active: (
      backgroundColor: crimson,
      borderColor: red
    ),
    inactive: (
      backgroundColor: rgb(51, 51, 51),
      borderColor: rgb(51, 51, 51)
    )
  ),
  dice: (
    default: (
      sideColor: #f7eee6,
      dotColor: black
    ),
    1: (
      sideColor: rgba(25, 25, 255, 0.95),
      dotColor: #ffffff
    ),
    2: (
      sideColor: rgba(255, 25, 25, 0.95),
      dotColor: #ffffff
    )
  )
);

// temporary exist next to index.css dark/light mode variables -> different names required
:root {
  // "array" so we can put it inside rgba and use custom alpha
  --bg-panel-solid: 0, 0, 0;
  --foreground2: 255, 255, 255;
}

[data-theme="light"]{
  --bg-panel-solid: 255, 255, 255;
  --foreground2: 0, 0, 0;
}